/* GLOBAL */

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #fafafa;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #114b64;
  color: #f8ffff;
}
a {
  text-decoration: none;
  color: #f8ffff;
  font-weight: lighter;
  letter-spacing: 0.02em;
}
label {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  color: #f8ffff;
  font-weight: lighter;
  letter-spacing: 0.05em;
  font-size: 20px;
}

input {
  padding: 8px;
}

::-webkit-input-placeholder {
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.03em;
}

.form-background-wrapper {
}

/* HEADER */

.header-logo {
  padding-top: 10px;
}
.javascript-logo {
  font-size: 40px;
  font-weight: normal;
  text-transform: capitalize;
}
.challenge-logo {
  font-size: 35px;
  font-weight: lighter;
  text-transform: capitalize;
}

/* FORM BACKGROUND*/
.form-background-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 100%;
}
.form-background {
  width: 1000px;
  height: 500px;
  background-color: #114b64;
  margin-top: 150px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 39px -2px rgba(0, 0, 0, 0.75);
}

/* FORM LEFT */
.form-background-left {
  background-color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 50%;
  clip-path: polygon(90% 0, 0 0, 0 100%, 80% 100%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-background-left-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
}
.form-logo {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.signup-left {
  font-size: 35px;
  margin: 0 auto;
  color: #1c5e78;
}

.paragraph {
  font-size: 20px;
  color: #1c5e78;
}

/* FORM RIGHT */
.form-background-right {
  background-color: #114b64;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.form-background-right-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}
.form-name-inputs {
  display: flex;
  flex-direction: row;
}
.input-first-name-container {
  display: flex;
  flex-direction: column;
}
.input-last-name-container {
  display: flex;
  flex-direction: column;
}
.form-mail-inputs {
  display: flex;
  flex-direction: column;
}
.input-email-container {
  display: flex;
  flex-direction: column;
}
.input-password-container {
  display: flex;
  flex-direction: column;
}

/* FORM RIGHT LABELS AND INPUTS */

.first-name-label {
  margin-bottom: 5px;
}
.first-name-input {
  margin-bottom: 5px;
  margin-right: 5px;
}
.last-name-label {
  margin-bottom: 5px;
}
.last-name-input {
  margin-bottom: 5px;
  margin-left: 5px;
}
.email-label {
  margin-bottom: 5px;
}
.input-email {
  margin-bottom: 5px;
}
.password-label {
  margin-bottom: 5px;
}
.input-password {
  margin-bottom: 5px;
}

/* FORM RIGHT BOTTOM */

.button-container {
  display: flex;
  flex-direction: column;
}
.signup-button {
  padding: 10px;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #1c5e78;
  color: #f8ffff;
  transition: background-color 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.form-right-paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 10px;
  color: #b4cbd2;
  font-weight: lighter;
}
.terms-and-conditions {
  display: flex;
}
.terms-paragraph {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.terms-link {
  padding-left: 2px;
}
.login {
  margin-top: 10px;
}
.login-span {
  display: flex;
}
.login-link {
  padding: 8px 4px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #1c5e78;
  color: #f8ffff;
  transition: background-color 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5px;
}
