body {
  font-family: sans-serif;
}

/* writePost form styles */

.text-area {
  width: 300px;
  height: 100px
}

.text-container {
  display: flex;
  flex-direction: row;
}

/* emailForm styles */

#emailForm {
  display: flex;
  justify-content: center;
}

.email-main-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.signup-button {
  padding-top: 5px;
  display: flex;
  justify-content: center;
}
